{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<section class="main">
			<div class="modules">

				{{ render(controller('Message:Mothership:ControlPanel::Controller:Module:Dashboard:UserSummary#index')) }}

				{{ render(controller('Message:Mothership:ControlPanel::Controller:Module:Dashboard:OrdersFulfillmentTime#index')) }}

				{{ render(controller('Message:Mothership:ControlPanel::Controller:Module:Dashboard:PopularProducts#index')) }}

				{{ render(controller('Message:Mothership:ControlPanel::Controller:Module:Dashboard:OrdersActivity#index')) }}

				{{ render(controller('Message:Mothership:ControlPanel::Controller:Module:Dashboard:TotalSales#index')) }}

				<div class="module portrait recent-list">
					<h2 class="title">
						CMS
					</h2>
					<div class="wrap">
						<h3>Recently added/edited</h3>
						<ol>
							<li><time>4 hours ago</time><a href="#">Shop</a></li>
							<li><time>1 days ago</time><a href="#">152 Series</a></li>
							<li><time>2 days ago</time><a href="#">Profile</a></li>
							<li><time>4 days ago</time><a href="#">Information</a></li>
							<li><time>4 days ago</time><a href="#">Press area</a></li>
						</ol>
						<hr>
						<h3>Recently deleted</h3>
						<ol>
							<li><time>1 hour ago</time><span>Gift Voucher</span><a class="restore button small" href="#">Restore</a></li>
							<li><time>9 days ago</time><span>203 SERIES (PVD Rose Gold / Walnut Leather)</span><a class="restore button small" href="#">Restore</a></li>
							<li><time>9 days ago</time><span>351 SERIES	 Brushed Steel / Blue NBR Rubber</span><a class="restore button small" href="#">Restore</a></li>
						</ol>
					</div>
				</div>
				<div class="module landscape">
					<h2 class="title">
						Discount revenue (week)
					</h2>
					<div class="wrap">
						<table
							title="Discount amounts"
							id="discountAmounts"
							summary="Discount amounts and savings"
							data-attc-createChart="true"
							data-attc-colDescription="pieDescription"
							data-attc-colValues="pieValues"
							data-attc-location="AttendancePercentagesPie"
							data-attc-hideTable="true"
							data-attc-type="column"
							data-attc-googleOptions='{"is3D":false, "width": 638, "height": 240, "legend": "none", "fontSize": 16, "colors":["#528cb6", "#26537c", "#3f759f", "#999", "#666"], "chartArea":{"top":25,"width":"620","height":"180"}, "role":"annotation"}'
							data-attc-controls='{"showHide":false,"create":false,"chartType":false}'
							>
							<thead>
								<tr>
									<th id="pieDescription">Value</th>
									<th id="pieValues">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Income from discounted orders (£4750)</td>
									<td>£4750</td>
								</tr>
								<tr>
									<td>Customer savings (£628)</td>
									<td>£628</td>
								</tr>
							</tbody>
						</table>
						<div id="AttendancePercentagesPie"></div>
					</div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}