{% extends '::_templates/external' %}

{% block title %}Mothership Password Reset{% endblock %}

{% block body %}
<div class="login">

		<div class="center">

			<header>

				<span class="spaceship"></span>

				<h1>Welcome to Mothership</h1>

				<span class="shadow"></span>

			</header>


			<section class="login-form">

				<h1>Welcome back, {{user.forename}}. Change your password and log in.</h1>

				{{ render(controller('Message:User::Controller:ForgottenPassword#reset', {
					email: email,
					hash: hash,
					redirectURL: url('ms.cp.dashboard'),
					inputAttributes: {
						'password': {
							'placeholder': 'New password'
						},
						'confirm': {
							'placeholder': 'Confirm password'
						},
					}
				})) }}

			</section>

		</div>

		<footer class="footer" role="contentinfo">

			<small class="copy">&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a href="//{{ app.cfg.app.baseUrl|trim('//') }}" target="_blank" class="website"><i class="icon-external-link"></i>{{ app.cfg.app.baseUrl }}</a>

		</footer>
	</div>
{% endblock %}