{% extends 'Message:Cog::form:twig:form_div_layout' %}

{% block cp_wysiwyg_widget %}
	{% spaceless %}
		{% set editable_id = 'editable_' ~ id %}
		<ul>
			<li id="preview-link">Preview editor</li>
			<li id="markdown-link">Markdown editor</li>
		</ul>
		<div id="preview-box">
			<div id="{{ editable_id }}">{{ app.md_parser.transform(value) | raw }}</div>
		</div>
		<div class="markdown-box">
			{{ block('textarea_widget') }}
		</div>
		<script>
			(function () {
				var md_content = $('#{{ id }}');
				new MediumEditor($('#{{ editable_id }}'), {
					extensions: {
						markdown: new MeMarkdown(function (md) {
									md_content.val(md);
								}
						)
					}
				});
			})();

			$('#preview-link').click(function() {
				$.ajax({
					url: '/admin/markdown/convert',
					type: 'post',
					dataType: 'json',
					data: {'md': $('#{{ id }}').val()},
					success: function(result) {
						$('#{{ editable_id }}').innerHTML = result;
					}
				});
			});
		</script>
	{% endspaceless %}
{% endblock %}