{% extends 'Message:Cog::form:twig:form_div_layout' %}

{# Widgets modified by Message #}
{% block money_widget %}
   {% spaceless %}
   	<div class="add-on">
		{# get currency-part out of the money_pattern created by the MoneyType #}
		{% set currency = money_pattern|split('{{ widget }}')[0]|trim %}

		{# replace {{ widget }} with the actual widget and add <p></p> around the currency-sign #}
		{{ money_pattern|replace({ '{{ widget }}': '<div>' ~ block('form_widget_simple') ~ '</div>', (currency): "<p>%s</p>"|format(currency) })|raw }}
	</div>
   {% endspaceless %}
 {% endblock money_widget %}

{#  {% block percent_widget %}
	{% spaceless %}
		<div class="add-on">
        	<p>%</p>
        	<div>
	      		{{ block('form_widget_simple') }}
      		</div>
    	</div>
	{% endspaceless %}
{% endblock percent_widget %} #}

{# Custom blocks defined by Message #}
{% block help_widget %}
	{% include 'Message:Mothership:ControlPanel::module:component:help' %}
{% endblock help_widget %}

{% block wysiwyg_widget %}
	{% spaceless %}
		{{ textarea_widget }}
		<pre id="{{ preview_prefix ~ '_' ~ id }}"></pre>
		<script>
			(function() {
				var markdown = document.querySelector('#{{ preview_prefix ~ '_' ~ id }}');
				new MediumEditor('#{{ id }}', {
					extensions: {
						markdown: new MeMarkdown(function (md) {
							markdown.innerText = md
						})
					}
				});
			})();
		</script>
	{% endspaceless %}
{% endblock %}