{% extends '::_templates/main' %}

{% block body %}
	<div class="container-cp">

		<nav class="navigation">
			<h1 class="vendor">
				<a href="{{ url('ms.cp.dashboard') }}">
					{{ app.cfg.mothership.appName }}
				</a>
			</h1>
			{{ render(controller('Message:Mothership:ControlPanel::Controller:Menu#main')) }}
			<a class="logout" href="{{ url('ms.cp.logout') }}">Log Out</a>
		</nav>

		<section class="pos-clear">
			{% block content %}{% endblock %}
		</section>
		<footer role="contentinfo">
			<small class="copy">&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a href="//{{ app.cfg.mothership.url|trim('//') }}" target="_blank" class="website"><i class="icon-external-link"></i>{{ app.cfg.mothership.url }}</a>
		</footer>
	</div>
{% endblock %}