<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>

		{% stylesheets
			'Message:Mothership:ControlPanel::_assets/css/basic.css'
			'Message:Mothership:ControlPanel::_assets/css/fonts.css'
			'Message:Mothership:ControlPanel::_assets/css/cp.css'
			output='/assets/css/ms_cp.css' %}
			<link href="{{ asset_url }}" rel="stylesheet">
		{% endstylesheets %}
	</head>
	<body>
		{% for types in flashes %}
			{% for message in types %}
				<p>{{ message|raw }}</p>
			{% endfor %}
		{% endfor %}

		{% block body %}
		{% endblock %}

		<section role="contentinfo">
			<small>&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a class="frontend" href="{{ cfg.mothership.url }}" target="_blank">{{ cfg.mothership.url }}</a>
		</section>
	</body>
</html>