{% extends '::_templates/main' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@Message:Mothership:ControlPanel::resources/assets/css/cp.css'

		output='/assets/css/ms_cp.css'
		filter='csscogulerewrite,?cssmin'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@Message:Mothership:ControlPanel::resources/assets/js/components/history.js/scripts/bundled/html5/jquery.history.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/ModalHandler.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/cp-setup.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/livePane.jquery.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/nestedAccordian.jquery.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/selectAllToggle.jquery.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/forms.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/help.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/title.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/dropdown.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/feedback.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/datePicker.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/components/masonry/masonry.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/components/googleChart/jsapi.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/components/googleChart/attc.googleChart.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/select2.min.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/jquery.dataTables.min.js'
		'@Message:Mothership:ControlPanel::resources/assets/js/dataTables.column-filter.js'

		output='/assets/js/ms_cp.js'
		filter='?jsmin'

	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block body %}
	<div class="container-cp">
		<div class="loading-spinner">
			<p>Loading&hellip;</p><div class="spinner"></div>
		</div>
		<header class="navigation">
			<h1 class="vendor">
				<a href="{{ url('ms.cp.dashboard') }}">
					{{ app.cfg.app.name }}
					<span class="version">Mothership</span>
				</a>
			</h1>
			<nav>
				{{ render(controller('Message:Mothership:ControlPanel::Controller:Component#mainMenu')) }}
			</nav>
			<a class="logout" href="{{ url('ms.cp.logout') }}">Log Out</a>
		</header>
		<section class="clear">
			{% block content %}{% endblock %}
		</section>
		{% include 'Message:Mothership:ControlPanel::includes:footer' %}
	</div>
{% endblock %}
