{% extends 'Message:Mothership:ControlPanel::_templates/main' %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'Message:Mothership:ControlPanel::extensions:stylesheets' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'Message:Mothership:ControlPanel::extensions:javascripts' %}
{% endblock %}
{% block body %}
	<div class="container-cp">
		<div class="loading-spinner">
			<p>Loading&hellip;</p><div class="spinner"></div>
		</div>
		<header class="navigation">
			<h1 class="vendor">
				<a href="{{ url('ms.cp.dashboard') }}">
					{{ app.cfg.app.name }}
					<span class="version">Mothership</span>
				</a>
			</h1>
			<nav>
				{{ render(controller('Message:Mothership:ControlPanel::Controller:Component#mainMenu')) }}
			</nav>
			<a class="logout" href="{{ url('ms.cp.logout') }}">Log Out</a>
		</header>
		<section class="clear">
			{% block content %}{% endblock %}
		</section>
		{% include 'Message:Mothership:ControlPanel::includes:footer' %}
	</div>
{% endblock %}
